In [37]:
from pathlib import Path
import sqlite3
import pandas as pd

In [38]:
caminho_db = Path.cwd() / "data" / "extraidos" / "dados.db"
print(caminho_db)

d:\0Viviana\1 FIAP\5 fase\datathon\app\data\extraidos\dados.db

In [39]:
conn = sqlite3.connect(caminho_db)

In [40]:
consulta_tabelas = "SELECT name FROM sqlite_master WHERE type='table';"
tabelas = pd.read_sql_query(consulta_tabelas, conn)
print("📋 Tabelas disponíveis no banco:")
print(tabelas)

📋 Tabelas disponíveis no banco:
         name
0  applicants
1   prospects
2       vagas

In [41]:
df_applicants = pd.read_sql_query("SELECT * FROM applicants", conn)
df_prospects = pd.read_sql_query("SELECT * FROM prospects", conn)
df_vagas = pd.read_sql_query("SELECT * FROM vagas", conn)

In [42]:
df_vagas.dtypes

codigo                                                  object
informacoes_basicas_data_requicisao                     object
informacoes_basicas_limite_esperado_para_contratacao    object
informacoes_basicas_titulo_vaga                         object
informacoes_basicas_vaga_sap                            object
informacoes_basicas_cliente                             object
informacoes_basicas_solicitante_cliente                 object
informacoes_basicas_empresa_divisao                     object
informacoes_basicas_requisitante                        object
informacoes_basicas_analista_responsavel                object
informacoes_basicas_tipo_contratacao                    object
informacoes_basicas_prazo_contratacao                   object
informacoes_basicas_objetivo_vaga                       object
informacoes_basicas_prioridade_vaga                     object
informacoes_basicas_origem_vaga                         object
informacoes_basicas_superior_imediato                   object
informacoes_basicas_nome                                object
informacoes_basicas_telefone                            object
perfil_vaga_pais                                        object
perfil_vaga_estado                                      object
perfil_vaga_cidade                                      object
perfil_vaga_bairro                                      object
perfil_vaga_regiao                                      object
perfil_vaga_local_trabalho                              object
perfil_vaga_vaga_especifica_para_pcd                    object
perfil_vaga_faixa_etaria                                object
perfil_vaga_horario_trabalho                            object
perfil_vaga_nivel profissional                          object
perfil_vaga_nivel_academico                             object
perfil_vaga_nivel_ingles                                object
perfil_vaga_nivel_espanhol                              object
perfil_vaga_outro_idioma                                object
perfil_vaga_areas_atuacao                               object
perfil_vaga_principais_atividades                       object
perfil_vaga_competencia_tecnicas_e_comportamentais      object
perfil_vaga_demais_observacoes                          object
perfil_vaga_viagens_requeridas                          object
perfil_vaga_equipamentos_necessarios                    object
beneficios_valor_venda                                  object
beneficios_valor_compra_1                               object
beneficios_valor_compra_2                               object
informacoes_basicas_data_inicial                        object
informacoes_basicas_data_final                          object
perfil_vaga_habilidades_comportamentais_necessarias     object
informacoes_basicas_nome_substituto                     object
dtype: object

In [43]:
df_applicants.dtypes

codigo                                              object
infos_basicas_telefone_recado                       object
infos_basicas_telefone                              object
infos_basicas_objetivo_profissional                 object
infos_basicas_data_criacao                          object
infos_basicas_inserido_por                          object
infos_basicas_email                                 object
infos_basicas_local                                 object
infos_basicas_sabendo_de_nos_por                    object
infos_basicas_data_atualizacao                      object
infos_basicas_codigo_profissional                   object
infos_basicas_nome                                  object
informacoes_pessoais_data_aceite                    object
informacoes_pessoais_nome                           object
informacoes_pessoais_cpf                            object
informacoes_pessoais_fonte_indicacao                object
informacoes_pessoais_email                          object
informacoes_pessoais_email_secundario               object
informacoes_pessoais_data_nascimento                object
informacoes_pessoais_telefone_celular               object
informacoes_pessoais_telefone_recado                object
informacoes_pessoais_sexo                           object
informacoes_pessoais_estado_civil                   object
informacoes_pessoais_pcd                            object
informacoes_pessoais_endereco                       object
informacoes_pessoais_skype                          object
informacoes_pessoais_url_linkedin                   object
informacoes_pessoais_facebook                       object
informacoes_profissionais_titulo_profissional       object
informacoes_profissionais_area_atuacao              object
informacoes_profissionais_conhecimentos_tecnicos    object
informacoes_profissionais_certificacoes             object
informacoes_profissionais_outras_certificacoes      object
informacoes_profissionais_remuneracao               object
informacoes_profissionais_nivel_profissional        object
formacao_e_idiomas_nivel_academico                  object
formacao_e_idiomas_nivel_ingles                     object
formacao_e_idiomas_nivel_espanhol                   object
formacao_e_idiomas_outro_idioma                     object
cv_pt                                               object
cv_en                                               object
formacao_e_idiomas_instituicao_ensino_superior      object
formacao_e_idiomas_cursos                           object
formacao_e_idiomas_ano_conclusao                    object
informacoes_pessoais_download_cv                    object
informacoes_profissionais_qualificacoes             object
informacoes_profissionais_experiencias              object
formacao_e_idiomas_outro_curso                      object
cargo_atual_id_ibrati                               object
cargo_atual_email_corporativo                       object
cargo_atual_cargo_atual                             object
cargo_atual_projeto_atual                           object
cargo_atual_cliente                                 object
cargo_atual_unidade                                 object
cargo_atual_data_admissao                           object
cargo_atual_data_ultima_promocao                    object
cargo_atual_nome_superior_imediato                  object
cargo_atual_email_superior_imediato                 object
dtype: object

In [44]:
df_prospects.dtypes

codigo        object
titulo        object
modalidade    object
prospects     object
dtype: object

In [4]:
df_prospects.head()

,codigo,titulo,modalidade,prospects
0,4530,CONSULTOR CONTROL M,,"{'nome': 'José Vieira', 'codigo': '25632', 'si..."
1,4531,2021-2607395-PeopleSoft Application Engine-Dom...,,"{'nome': 'Sra. Yasmin Fernandes', 'codigo': '2..."
2,4532,,,
3,4533,2021-2605708-Microfocus Application Life Cycle...,,"{'nome': 'Arthur Almeida', 'codigo': '26338', ..."
4,4534,2021-2605711-Microfocus QTP - UFT Automation T...,,"{'nome': 'Ana Luiza Vieira', 'codigo': '26361'..."

In [13]:
df_applicants.head()

,codigo,infos_basicas_telefone_recado,infos_basicas_telefone,infos_basicas_objetivo_profissional,infos_basicas_data_criacao,infos_basicas_inserido_por,infos_basicas_email,infos_basicas_local,infos_basicas_sabendo_de_nos_por,infos_basicas_data_atualizacao,...,cargo_atual_id_ibrati,cargo_atual_email_corporativo,cargo_atual_cargo_atual,cargo_atual_projeto_atual,cargo_atual_cliente,cargo_atual_unidade,cargo_atual_data_admissao,cargo_atual_data_ultima_promocao,cargo_atual_nome_superior_imediato,cargo_atual_email_superior_imediato
0,31000,,(11) 97048-2708,,10-11-2021 07:29:49,Luna Correia,carolina_aparecida@gmail.com,,,10-11-2021 07:29:49,...,None,None,None,None,None,None,None,None,None,None
1,31001,,(11) 93723-4396,Analista Administrativo,10-11-2021 08:56:16,Laura Pacheco,eduardo_rios@hotmail.com,"São Paulo, São Paulo",Outros,11-11-2021 11:10:31,...,None,None,None,None,None,None,None,None,None,None
2,31002,,(11) 92399-9824,Administrativo | Financeiro,10-11-2021 09:01:00,Laura Pacheco,pedro_henrique_carvalho@gmail.com,"São Paulo, São Paulo",Anúncio,10-11-2021 11:42:36,...,None,None,None,None,None,None,None,None,None,None
3,31003,,(11) 98100-1727,Área administrativa,10-11-2021 09:08:13,Laura Pacheco,thiago_barbosa@hotmail.com,"São Paulo, São Paulo",Site de Empregos,10-11-2021 16:04:51,...,None,None,None,None,None,None,None,None,None,None
4,31004,,(11) 92517-2678,,10-11-2021 09:18:46,Maria Clara Pires,diogo_das_neves@hotmail.com,,,10-11-2021 09:22:03,...,None,None,None,None,None,None,None,None,None,None

In [15]:
df_applicants.loc[df_applicants['informacoes_pessoais_nome'] == 'Carolina Aparecida', ['codigo', 'informacoes_pessoais_nome']]

  codigo informacoes_pessoais_nome
0  31000        Carolina Aparecida

In [19]:
df_vagas['codigo'].value_counts()

codigo
5185     1
5184     1
5183     1
5182     1
5181     1
        ..
12368    1
12367    1
12366    1
12365    1
12364    1
Name: count, Length: 14081, dtype: int64

In [21]:
df_vagas[df_vagas['codigo'] == '5185']

,codigo,informacoes_basicas_data_requicisao,informacoes_basicas_limite_esperado_para_contratacao,informacoes_basicas_titulo_vaga,informacoes_basicas_vaga_sap,informacoes_basicas_cliente,informacoes_basicas_solicitante_cliente,informacoes_basicas_empresa_divisao,informacoes_basicas_requisitante,informacoes_basicas_analista_responsavel,...,perfil_vaga_demais_observacoes,perfil_vaga_viagens_requeridas,perfil_vaga_equipamentos_necessarios,beneficios_valor_venda,beneficios_valor_compra_1,beneficios_valor_compra_2,informacoes_basicas_data_inicial,informacoes_basicas_data_final,perfil_vaga_habilidades_comportamentais_necessarias,informacoes_basicas_nome_substituto
0,5185,04-05-2021,00-00-0000,Operation Lead -,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Srta. Bella Ferreira,...,100% Remoto Período – entre 5 – 6 meses,,Nenhum -,-,R$,,None,None,None,None

In [28]:
df_applicants[df_applicants['infos_basicas_codigo_profissional'] == "5185"]

,codigo,infos_basicas_telefone_recado,infos_basicas_telefone,infos_basicas_objetivo_profissional,infos_basicas_data_criacao,infos_basicas_inserido_por,infos_basicas_email,infos_basicas_local,infos_basicas_sabendo_de_nos_por,infos_basicas_data_atualizacao,...,cargo_atual_id_ibrati,cargo_atual_email_corporativo,cargo_atual_cargo_atual,cargo_atual_projeto_atual,cargo_atual_cliente,cargo_atual_unidade,cargo_atual_data_admissao,cargo_atual_data_ultima_promocao,cargo_atual_nome_superior_imediato,cargo_atual_email_superior_imediato
36737,5185,,(21) 98560-9921,Cobol,07-03-2018 15:43:43,pelo próprio candidato,alice_fernandes@hotmail.com,,Outros,07-03-2018 15:43:43,...,None,None,None,None,None,None,None,None,None,None

In [34]:
df_applicants.loc[df_applicants['informacoes_pessoais_nome'] == 'Sr. Thales Freitas', ['codigo', 'informacoes_pessoais_nome', 'infos_basicas_codigo_profissional']]

      codigo informacoes_pessoais_nome infos_basicas_codigo_profissional
39811  41496        Sr. Thales Freitas                             41496

In [36]:
df_prospects[df_prospects['codigo'] == "10796"]

,codigo,titulo,modalidade,prospects
5830,10796,SAP Technical / ABAP 13536823,,"{'nome': 'Sr. Lucca Fernandes', 'codigo': '138..."

In [29]:
df_applicants[df_applicants['informacoes_pessoais_nome'] == "Sr. Thales Freitas"]

,codigo,infos_basicas_telefone_recado,infos_basicas_telefone,infos_basicas_objetivo_profissional,infos_basicas_data_criacao,infos_basicas_inserido_por,infos_basicas_email,infos_basicas_local,infos_basicas_sabendo_de_nos_por,infos_basicas_data_atualizacao,...,cargo_atual_id_ibrati,cargo_atual_email_corporativo,cargo_atual_cargo_atual,cargo_atual_projeto_atual,cargo_atual_cliente,cargo_atual_unidade,cargo_atual_data_admissao,cargo_atual_data_ultima_promocao,cargo_atual_nome_superior_imediato,cargo_atual_email_superior_imediato
39811,41496,,(11) 91963-3687,Analista de Monitoramento,02-02-2023 15:05:09,Melina Montenegro,sr._thales_freitas@gmail.com,"São Paulo, São Paulo",,19-04-2023 15:28:10,...,None,None,None,None,None,None,None,None,None,None

In [26]:
df_applicants[df_applicants['informacoes_pessoais_nome'] == "Carolina Aparecida"]\
    .to_csv("carolina_aparecida.csv", index=False, encoding="utf-8-sig", sep=",")

In [14]:
df_applicants[['codigo','informacoes_pessoais_nome']]

      codigo informacoes_pessoais_nome
0      31000        Carolina Aparecida
1      31001              Eduardo Rios
2      31002   Pedro Henrique Carvalho
3      31003            Thiago Barbosa
4      31004           Diogo das Neves
...      ...                       ...
42477   5995          Gabrielly Novaes
42478   5996          Sr. Gabriel Rios
42479   5997      Dr. Mathias da Cunha
42480   5998              Bruna Vieira
42481   5999           Heitor Mendonça

[42482 rows x 2 columns]

In [6]:
df_vagas.head()

,codigo,informacoes_basicas_data_requicisao,informacoes_basicas_limite_esperado_para_contratacao,informacoes_basicas_titulo_vaga,informacoes_basicas_vaga_sap,informacoes_basicas_cliente,informacoes_basicas_solicitante_cliente,informacoes_basicas_empresa_divisao,informacoes_basicas_requisitante,informacoes_basicas_analista_responsavel,...,perfil_vaga_demais_observacoes,perfil_vaga_viagens_requeridas,perfil_vaga_equipamentos_necessarios,beneficios_valor_venda,beneficios_valor_compra_1,beneficios_valor_compra_2,informacoes_basicas_data_inicial,informacoes_basicas_data_final,perfil_vaga_habilidades_comportamentais_necessarias,informacoes_basicas_nome_substituto
0,5185,04-05-2021,00-00-0000,Operation Lead -,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Srta. Bella Ferreira,...,100% Remoto Período – entre 5 – 6 meses,,Nenhum -,-,R$,,None,None,None,None
1,5184,04-05-2021,00-00-0000,Consultor PP/QM Sênior,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Yasmin da Rosa,...,• Início: Imediato • Fim: Jan/22,,Nenhum -,-,R$,,None,None,None,None
2,5183,04-05-2021,00-00-0000,ANALISTA PL/JR C/ SQL,Não,"Morris, Moran and Dodson",Dra. Catarina Marques,Decision São Paulo,Maria Laura Nogueira,Ana Albuquerque,...,Localização: Remoto Perfil: Analista Pleno ou ...,,Nenhum -,-,R$,,None,None,None,None
3,5182,04-05-2021,18-05-2021,Technical Architect - 11894809,Não,Nelson-Page,Dr. Raul Monteiro,Decision São Paulo,Cecília Freitas,Clara Rios,...,Budgeted Rate - indicate currency and type (ho...,Não,Notebook padrão -,- p/ mês (168h),fechado,,18-05-2021,17-01-2022,None,None
4,5181,04-05-2021,00-00-0000,Consultor SAP AUTHORIZATION (BCA) -Pleno / Sênior,Não,Mann and Sons,Cauê Fogaça,Decision São Paulo,Maria Laura Nogueira,Srta. Bella Ferreira,...,contratação CLT full pela Decision locação rem...,Sim,Nenhum -,-,R$,,None,None,None,None

In [7]:
conn.close()